body{
    background: darkgray;
}
.header{
    display: flex;
    justify-content: space-around;
    background: #dcd9d9;
}
.block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 100px;
}
.logo_img{
    width: 20%;
    height: 80%;
    border-radius: 25%
}
.social_a{
    display: flex;
    justify-content: center;
}
.social_img{
    border-radius: 50%;
}
#header_contact{
    display: flex;
    flex-direction: column;
    align-items: normal;
    width:230px ;
}
#header_contact>p{
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.contact_span{
    /*padding-left: 20px;*/
}
.container_type{
    display: flex;
    justify-content: space-around;
    color: #79aec8;
    margin: 10px;
}
#sales{
    color: #e82929;
    font-weight: bold;
}
.autentificate{
    display: flex;
    justify-content: center;
    width: 100%
}
.btn_atent{
    margin: 20px;
    background: #c4dce8;
    border-radius: 10%
}